<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>Nombre:</strong> {{this.title}} <br>
        <strong>Descripción:</strong> {{this.description}} <br>
        <strong>Precio:</strong> {{this.price}} <br>
      </li>
    {{/each}}
  </ul>
</body>
</html>